<nav>
  <div class="nav-wrapper">
    <a href="/expenses/dashboard" class="brand-logo">GoDutch</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <!-- <a href="../sessions/new">Log Out</a> -->
        <a href="../sessions/new" type="submit" ></a>

        <form id="logout" action="/sessions?_method=DELETE" method="POST">
          <!-- <input id="logout" type="submit" value="Logout" class="waves-effect waves-light btn"/> -->
          <input id="logout" type="submit" value="Logout"/>
      </form>
      </li>
    </ul>
  </div>
</nav>
