<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') -%>
  </head>

  <% if(currentUser) { %>
    <%- include ('./partials/nav2.ejs') -%>
    <% } else { %>
      <%- include ('./partials/nav.ejs') -%>
      <% } %>
  <body>
   <div class="box">
    <div class="container">
      <h1>
        <% if(currentUser) { %>
        Welcome <%=currentUser.username%>!
        </h1>
        <h2>
          <a class="waves-effect waves-light btn" href="/expenses/dashboard">Dashboard</a>
        </h2>          
        <!-- <h2>
          <a class="waves-effect waves-light btn" href="/expenses/new">Create expenses</a>
        </h2>             -->
<!--        
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Logout" class="waves-effect waves-light btn"/>
      </form> -->

        <% } else { %>
          <h1>Introduction to GoDutch</h1>
          <div>
            <p>This is a self-made application to track expenses when you GoDutch with your friends. Sign up to try it out!</p>
          </div>
          
          <h2>Please </h2>
          <a class="waves-effect waves-light btn" href="/users/new">Sign Up</a>
          <h3>or</h3>
          <a class="waves-effect waves-light btn" href="/sessions/new">Log In</a>
        <% } %>
      </div>
    </div>

   </div>
   
  </body>
</html>