/* 
* {
    border: 1px solid gold;
} */


/* body {
  Background: purple;
  padding: 10px;
  }; */

  .box {
    padding: 20px;
  }

  .space {
    margin-top: 10px;
  }

  .greenText {
    color: rgb(129, 223, 7);
  }

  .redText {
    color: red;
  }
  
  input[type=button],input[value=Logout],input[id=logout] #logout {
    background-color:#ee6e73;
    color: white;
    border-style: none;
    height: 64px;
    width: 76.3;
  };

  .invalid {
    color: red;
  };


  