/* 
* {
    border: 1px solid gold;
} */


/* body {
  Background: purple;
  }; */

  input[type=button],input[value=Logout],input[id=logout] #logout {
    background-color:#ee6e73;
    color: white;
    border-style: none;
    /* height: 56px; */
    height: 64px;
    width: 76.3;

  };

  .invalid {
    color: red;
  };

  [type='checkbox']:checked {
    opacity: 1;
  }
/* 
.container1 {
  border: 5px solid red;
  width:200px;
  text-align:center;
  margin: 0 auto;
}

.container {
  width:200px;
  text-align:left;
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
  text-align:center;
}

h3 {
  margin-top: 0px;
  margin-bottom:2px;
} */